<style>
.content {
    width: 750px;
    height: auto;
    background-color: ;
    margin: 0 auto;
}
.display {
    margin: 0 auto;
    margin-top: 60px;
    width: 700px;
    height: 450px;
    background-color: ;
}
.works {
    width: 300px;
    height: 400px;
    background-color: yellow;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.comment {
    width: 300px;
    height: 400px;
    background-color: yellow;
    float: left;
    margin-left: 38px;
    margin-top: 20px;
} 
.comment > h4 {
    font-size: 15px;
    line-height: 30px;
}
.gradual {
    margin: 0 auto;
    margin-top: 60px;
    width: 420px;
    height: 550px;
    background-color: blue;
    animation-name: gradual;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}
@keyframes gradual {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75% {background-color: green;}
    100% {background-color: red; }
}

.all-process {
    margin: 0 auto;
    margin-top: 100px;
    width: 620px;
    height: 800px;
    background-color: ;
}
.process {
    float: left;
    width: 300px;
    height: 380px;
    background-color: ;
    margin-left: 10px;
    margin-top: 50px;
}
 
.process-img {
    margin-top: 10px;
    margin-bottom:20px;
    margin-left: 20px;
    width: 210px;
    height: 280px;
    background-color: pink;
}
.process-comment {
    margin-left: 20px;
    width: 270px;
    height: 70px;
    background-color: ;
}
.process-comment > p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #777777;
}
</style>
<div class="content">
                <div class="display">
                    <div class="works">img</div>
                    <div class="comment">
                        <h2>
                            title
                        </h2>
                        <h4>
                            這是作品小詩～<br>
                            這是作品小詩～<br>
                            這是作品小詩～<br>
                            這是作品小詩～<br>
                        </h4>
                    </div>
                </div>
                <div class="gradual">img</div>
                <div class="all-process">

                    <div class="process">
                        <div class="process-img">
                            <img src="">
                        </div>
                        <div class="process-comment">
                            <p>步驟一<br>這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說</p>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process-img">
                            <img src="">
                        </div>
                        <div class="process-comment">
                            <p>步驟二<br>這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說</p>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process-img">
                            <img src="">
                        </div>
                        <div class="process-comment">
                            <p>步驟三<br>這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說</p>
                        </div>
                    </div>
                    <div class="process">
                         <div class="process-img">
                            <img src="">
                        </div>
                        <div class="process-comment">
                            <p>步驟四:<br>這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說這是步驟解說</p>
                        </div>
                    </div>
                    <div class="back"></div>
                </div>
            </div>