<style>
.content {
    width: 750px;
    height: auto;
    background-color: ;
    margin: 0 auto;
}
.display {
    margin: 0 auto;
    margin-top: 60px;
    width: 750px;
    height: 450px;
    background-color: ;
}
.works {
    width: 320px;
    height: 400px;
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.comment {
    width: 320px;
    height: 400px;
    background-color: white;
    float: left;
    margin-left: 38px;
    margin-top: 20px;
} 
.comment > h4 {
    font-size: 15px;
    line-height: 30px;
}
.gradual {
    margin: 0 auto;
    margin-top: 60px;
    width: 420px;
    height: 525px;
    background-color: white;
    animation-name: gradual;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}
@keyframes gradual {
    100%   { background-image:url(./image/60/gradual1.png);}
    50%  { background-image:url(./image/60/gradual2.png);}
    0% { background-image:url(./image/60/gradual1.png);}
}

.all-process {
    margin: 0 auto;
    margin-top: 100px;
    width: 620px;
    height: 350px;
    background-color: ;
}
.process {
    float: left;
    width: 300px;
    height: 200px;
    background-color: ;
    margin-left: 10px;
    margin-top: 50px;
}
 
.process-img {
    margin-top: 10px;
    margin-bottom:30px;
    margin-left: 20px;
    width: 208px;
    height: 260px;
    background-color: pink;
}
.process-comment {
    margin-left: 20px;
    width: 270px;
    height: 70px;
    background-color: ;
}
.process-comment > p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #777777;
}
.back {
    padding-top: 100px;
    margin: 0 auto;
    height: 20px;
    width: 160px;
    background-color: ;
    text-align: center;
    font-size: 15px;
    color: #777777;
    cursor: pointer;
    border-style: none none solid none;
    border-width: 1px;
}
.back:hover {
    border-width: 2px;
    width: 250px;
    border-color: #777777;
}
</style>
<div class="content">
                <div class="display">
                    <div class="works">
                        <img src="./image/60/top-60.png">
                    </div>
                    <div class="comment">
                        <img src="./image/60/comment.gif">
                    </div>
                </div>
                <div class="gradual"></div>
                <div class="all-process">

                    <div class="process">
                        <div class="process-img">
                            <img src="./image/60/process1.png">
                        </div>
                        <div class="process-comment">
                            <p>步驟一<br>物至於此小得盈滿，萬物在厚實的土壤中茁壯著。</p>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process-img">
                            <img src="./image/60/process2.png">
                        </div>
                        <div class="process-comment">
                            <p>步驟二<br>夏熟作物的籽粒開始灌漿飽滿，但還未成熟，也已非常豐盛的像要滿出來似的。</p>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="back" ui-sref="circle-24">back to the last page</div>