<style>

.full {
    width: 100%;
}
.content {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding-top: 185px;
    background-color: white;
    position: relative;
}
.circle {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 200px;
    position: relative;
    z-index: 30;
    background-image: url(./image/circle-bg2.png);
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center center;
}
.outside-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: #777777;
    opacity: 0.6;
    top: 91px;
    left: 150px;
}
.inside-circle {
    position: absolute;
    width: 496px;
    height: 496px;
    border-radius: 249px;
    background-color: white;
    z-index: 10;
    left: 2px;
    top: 2px;
}
.season {
    position: absolute;
    background-color:;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #edffb8;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    padding-bottom: px;
    z-index: 20;
    font-size: 17px;
    color: #777777;
    border-style: none solid none solid;
    border-width: 2px;
    border-color: white;
}
.season:hover {
    color: white;
    background-color: #ffb8b8;
}
.times {
    background-color: #777777;
    height: 1px;
    width: 16px;
    position: absolute;
    opacity: 0.5;
}
.season-06:hover + .circle {
    background-image: url(./image/0/top-0.png);
}
</style>
<div class="full">
    <div class="content">
        <div class="circle"></div>
        <div class="outside-circle">
            <div class="inside-circle"></div>
        </div>
        <div class="season season-01" ui-sref="circle-75">芒種</div>
        <div class="season season-02" ui-sref="circle-60">小滿</div>
        <div class="season season-03" ui-sref="circle-45">立夏</div>
        <div class="season season-04" ui-sref="circle-30">穀雨</div>
        <div class="season season-05" ui-sref="circle-15">清明</div>
        <div class="season season-06" ui-sref="circle-0">春分</div>
        <div class="season season-07" ui-sref="circle-345">驚蟄</div>
        <div class="season season-08" ui-sref="circle-330">雨水</div>
        <div class="season season-09" ui-sref="circle-315">立春</div>
        <div class="season season-10" ui-sref="circle-300">大寒</div>
        <div class="season season-11" ui-sref="circle-285">小寒</div>
        <div class="season season-12" ui-sref="circle-270">冬至</div>
        <div class="season season-13" ui-sref="circle-255">大雪</div>
        <div class="season season-14" ui-sref="circle-240">小雪</div>
        <div class="season season-15" ui-sref="circle-225">立冬</div>
        <div class="season season-16" ui-sref="circle-210">霜降</div>
        <div class="season season-17" ui-sref="circle-195">寒露</div>
        <div class="season season-18" ui-sref="circle-180">秋分</div>
        <div class="season season-19" ui-sref="circle-165">白露</div>
        <div class="season season-20" ui-sref="circle-150">處暑</div>
        <div class="season season-21" ui-sref="circle-135">立秋</div>
        <div class="season season-22" ui-sref="circle-120">大暑</div>
        <div class="season season-23" ui-sref="circle-105">小暑</div>
        <div class="season season-24" ui-sref="circle-90">夏至</div>

        <div class="times times-01"></div>
        <div class="times times-02"></div>
        <div class="times times-03"></div>
        <div class="times times-04"></div>
        <div class="times times-05"></div>
        <div class="times times-06"></div>
        <div class="times times-07"></div>
        <div class="times times-08"></div>
        <div class="times times-09"></div>
        <div class="times times-10"></div>
        <div class="times times-11"></div>
        <div class="times times-12"></div>
        <div class="times times-13"></div>
        <div class="times times-14"></div>
        <div class="times times-15"></div>
        <div class="times times-16"></div>
        <div class="times times-17"></div>
        <div class="times times-18"></div>
        <div class="times times-19"></div>
        <div class="times times-20"></div>
        <div class="times times-21"></div>
        <div class="times times-22"></div>
        <div class="times times-23"></div>
        <div class="times times-24"></div>
    </div>
</div>
